.header-top {
    background-color: rgb(228, 64, 64);
    width: 100%;
    height: 70px;
}

.header-top .principal-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top .principal-header .nav-header {
    background-color: rgb(228, 64, 64);
    width: 300px;
    height: 57%;
    display: flex;

    ;
}
.nav-header .nav-bar {
    display: flex;
    width: 100%;
    height: 40px;
    margin: 0 0 0 20px;
    .nav-bar-div {   
        display: flex;
        button {
            background-color: transparent;
            border: none;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center; 
            p{
                margin-bottom: 3px;
                color: white;
                font-size: 30px;
            }
        }
        button:hover {
            cursor: pointer;
        }
    }
}
.header-top .principal-header .nav-header .pesquisar-CEP {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-top .principal-header .nav-header .pesquisar-CEP .buscar{
    background-color: azure;
    width: 220px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    border: 1px solid;
    font-family: sans-serif;
    cursor: pointer;
}

.header-top .principal-header .nav-header .pesquisar-CEP .buscar:active {
    background-color: rgb(175, 175, 175);
}

.second-header {

    width: 300px;
    display: flex;
    justify-content: space-between;
    .barra-pesquisa {
        position: relative;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        overflow: hidden;
        .open-search {
            position: relative;
            min-width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            background: transparent;
            border: none;
            border-radius: 50%;
            transition: 200ms;

            color: white;
            ion-icon {
                width: 25px;
                height: 25px;
            }

        }
        .open-search:hover{
            cursor: pointer;
            background: white;
            border: 1px solid;
            color: black;
        }

        input {
            width: auto;
            height: 30px;
            border: none;
            border-radius: 20px;
            padding: 0 10px;
        }

        .close-search {
            position: relative;
            min-width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            background: transparent;
            border: none;
            border-radius: 50%;
            transition: 200ms;

            color: white;
            ion-icon {
                width: 25px;
                height: 25px;
            }
        }
        .close-search:hover {
            cursor: pointer;
            background: white;
            border: 1px solid;
            color: black;
        }
    }
    
    .barra-pesquisa.active {
        width: 360px;
    }


}

.apresentacao{
    width: 100%;
    height: 300px;
    display: grid;
    box-shadow: 1px 1px 10px;

    .logo{
        width: 100px;
        height: 100px;
        margin: 60px auto 0 auto;
        border: 3px solid rgb(228, 64, 64);

        img{
            width: 100px;
            height: 100px;
        }
    }

    .nome-loja {
        width: 200px;
        height: 30px;
        margin: -50px auto;
        border: 3px solid rgb(228, 64, 64);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        p {
            font-family: "Jaini", system-ui;
            font-weight: 400;
            font-style: normal;
            font-size: 25px;

        }
    }
}

.cardapio {
    width: 95%;
    height: auto;
    background-color: rgb(231, 231, 231);
    display: grid;
    margin: 25px auto auto auto;

    .combos {
        width: auto;
        height: auto;
        margin: 20px auto;
        background-color: white;
        border: 4px solid rgb(228, 64, 64);
        border-radius: 30px;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);

        .header-combo{
            width: 100%;
            height: 35px;
            border-bottom: 2px solid;
            display: flex;
            justify-content: space-between;
            
            .combo-titulo {
                width: auto;
                height: auto;
                font-size: 30px;
                font-family: sans-serif;
                margin: 0 0 0 20px;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            .combo-row {
                
                width: auto;
                height: auto;
                margin: 0 20px 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    transition: 400ms;
                    img{
                        width: 30px;
                        
                    }

                }
                button:hover{
                    background-color: rgb(175, 175, 175);
                    width: 35px;
                    height: 35px;
                    border-radius: 10px;
                    
                }
            }

            
        }
        .container-produtos {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            
            .produto {
                
                width: 500px;
                height: 170px;
                margin: 15px 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid rgb(228, 64, 64);
                border-radius: 20px;
                transition: 0.2s;
                .especif-produto {
                    
                    width: 300px;
                    height: 160px;
                    display: grid;
                    align-items: center;
                    margin: 0 10px 0 0;

                    .nome-produto {
                        background-color: rgb(231, 231, 231);
                        width: auto;
                        height: 10px;
                        margin: 0 5px 0 5px;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        font-family: sans-serif;
                        font-weight: bolder;
                    }

                    .descricao-produto {
                        background-color: rgb(231, 231, 231);
                        width: auto;
                        height: 70px;
                        margin: 0 5px 0 5px;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: sans-serif;
                        color: rgb(100, 100, 100);
                    }

                    .preco-produto {
                        background-color: rgb(231, 231, 231);
                        height: 20px;
                        margin: 0 5px 0 5px;
                        padding: 2px 10px;
                        display: flex;
                        align-items: center;
                        font-family: sans-serif;
                        font-weight: bolder;
                    }
                }

                .foto-produto {
                    width: 150px;
                    height: 150px;
                    
                    img {
                        width: 150px;
                        height: 150px;
                    }
                }
            }

            .produto:hover {
                cursor: pointer;
            }
            .produto:active {
                background-color: rgb(231, 231, 231);
            }
        }
    }
}

.hambuWindow-Area {
    border: 3px solid rgb(228, 64, 64);
    border-radius: 30px;
    max-width: 400px;
    height: auto;
    margin: 30px auto;

    .hambuWindow-Header {
        width: 100%;
        height: 40px;
        background-color: rgb(231, 231, 231);
        border-radius: 27px 27px  0 0;
        display: flex;
        position: relative;
        justify-content: left;
        align-items: center;
        
        .hambuWindow-Back {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-self: center;
            margin: 0 10px;
            transition: 200ms;

            ion-icon {
                width: 30px;
                height: 30px;
                align-items: center;
                justify-content: center;
            }
        }

        .hambuWindow-Back:hover {
            background-color: white;
            border: 3px solid rgb(228, 64, 64);
            border-radius: 20px;
            cursor: pointer;
        }

        .hambuWindow-Back:active {
            background-color: rgb(175, 175, 175);

        }

        .hambuCombo-Name {
            
        }
    }

    .Container-Img-Description {
        background-color: rgb(100, 100, 100);
        width: 100%;
        height: auto;

        .hambuCombo-Img {
            background-color: rgb(175, 175, 175);
            width: 100%;
            height: 300px;
        }
        .hambu-Combo-Description {
            width: 100%;
            height: auto;
            background-color: rgb(175, 175, 175);
        }
    }

    .hambuHeader-Carne {
        background-color: rgb(228, 64, 64);
        width: 100%;
        height: 50px;
        display: grid;
        justify-content: left;
        align-items: center;

        .Ponto-da-Carne {
            font-weight: bold;
            font-family: sans-serif;
            font-size: 20px;
            margin: 0 10px;
            color: white;
        }

        .Option {
            font-size: 14px;
            font-family: sans-serif;
            margin: 0 10px;
            color: white;
        }
    }
    
    .Escolha-do-Ponto {
        display: grid;
        font-family: sans-serif;
        font-size: 20px;
        align-items: center;
        margin: 10px 0;

        div {
            width: auto;
            height: 30px;
            justify-content: space-between;
            align-items: center;
            display: flex;
            margin: 5px 10px;
            border: 3px solid rgb(228, 64, 64);

            h1{
                color: rgb(100, 100, 100);
                margin: 0 10px;
            }

            input {
                margin: auto 10px;
                width: 20px;
                height: 20px;
            }
        }
    }

    .header-add {
        background-color: rgb(228, 64, 64);
        width: 100%;
        height: 50px;
        display: grid;
        justify-content: left;
        align-items: center;
        font-family: sans-serif;

        .adicional {
            margin: 0 10px;
            color: white;
            font-size: 20px;
            font-weight: bold;
        }

        .maximo {
            margin: 0 10px;
            color: white;
            font-size: 15px;
        }
    }

    .container-add{
        width: 100%;
        height: auto;
    
        .itens-add {
            background-color: rgb(100, 100, 100);
            width: auto;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 3px solid rgb(228, 64, 64);
            margin: 10px;
            .item-add-name {
                display: grid;
                width: auto;
                height: 40px;
                margin: 0 10px;
            }

            input {
                margin: 0 10px;
            }
        }
    }
}