
/* Configura a imagem de fundo do cabeçalho */
.primario {
    background: image-set("./Hambugordo/src/imagens/4492606.jpg");
    display: flex;
    margin: 10px;
}
/* Configura a logo no cabeçalho*/
.primario .logo {
    width: 140px;
    height: 120px;
}
/* Configura o nome da loja no cabeçalho*/
.primario h1 {
    width: 80%;
    display: flex;
    position: relative;
}
/* Configura a imagem do nome da loja no cabeçalho */
.primario h1 img {
    width: 400px;
    margin: auto;
    align-items: center;
    position: relative;
}
/* Configura o direcionador do cardápio */
.primario a {
    background-image: linear-gradient(rgb(255, 196, 0), rgb(255, 102, 0) 80%);
    width: 200px;
    margin: auto;
    padding: 10px;
    position: relative;
    font-family: 'Brush King', sans-serif;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
/* A partir daqui, sera configurado o cardapio */
.cardapio {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    border: 1px solid;
    border-radius: 10px;
}

/* Ajuste de todas as divs dentro do cardapio */
 .cardapio div{
    display: flex;
    width: auto;
    position: relative;
    padding: 10px;
    margin: 10px;
 }
 /* Divs separada por classe */
.b1, .b2{
    background: linear-gradient(90deg, brown, black);
    border-radius: 30px;
    display: flex;
    position: relative;
    margin: auto;
    
}
/* Div secundaria para ajustar o titulo do produto e a descrição */
.b1 .b1-sec, .b2 .b2-sec {
    background-color: blanchedalmond;
    border-radius: 30px;
    display: grid;
    position: static;
    width: 140px;
    height: 185px;
    margin: auto;
    margin-left: 10px;
 }

 /* Titulo do produto */
.b1 h1, .b2 h1{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-family: 'Brush King', sans-serif;
    background-image: linear-gradient(rgb(255, 196, 0), rgb(255, 102, 0) 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Descrição do produto */
.b1 p, .b2 p{
    width: 100%;
    display: flex;
    position: static;
    font-family: sans-serif;
}
/* Imagem do produto */
.burguer1 , .burguer2 {
    border-radius: 30px;
    border: 3px solid wheat;
    box-shadow: 3px 5px 10px ;
    margin: auto;
    width: 190px;
    height: 200px;
}


.carrinho {
    width: 95%;
    margin: auto;
    margin-top: 290px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: baseline;
    padding-right: 20px;

}
.carrinho button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background: none;
    border-radius: 30px;
    transition: 10ms;
}

.carrinho button img {
    width: 30px;
    height: 30px;
}

.carrinho button:hover{
    background-color: antiquewhite;
    box-shadow: 5px 7px 5px;
}